{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
</li>
{% endblock %}


{% block section %}

<section class="hero_section">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h3>
          Welcome Student <br />
          {{user.name}}
        </h3>
        <p> Click on the assignment name to view the instructions.
            If you have any questions about the assignment, 
            please contact your teacher..
        </p>
        </div>
      <div class="hero_img-container assignments" >
        <div class = 'container'>
        </br>
      </br>
          <h3>Assignments</h3>
          <br>
          
          <table class = "table">
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Class</th>
              <th scope="col">Subject</th>
              <th scope="col">Title</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
              <th scope="row">{{assignment.id}}</th>
              <td>{{assignment.class}}</td>
              <td>{{assignment.subject}}</td>
              <td><a href = "assignment/{{assignment.id}}">{{assignment.title}}</a></td>
            </tr>
            {% endfor %}
        
           
          </table>



          
     
        </div>
      </div>
      
      </div>
    </div>
  </section>
      
  </section>

{%endblock%}